* {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  height: 500vh;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

@keyframes navMoveIn {
  from {
    opacity: 0;
    left: -330px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes navMoveOut {
  from {
    opacity: 1;
    left: 0;
  }
  to {
    opacity: 0;
    left: -330px;
  }
}
@keyframes scaleOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.toggle {
  width: 38px;
  height: 38px;
  text-align: center;
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 9999;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}
.toggle i {
  font-size: 28px;
  color: #45505b;
  line-height: 38px;
  transition: all 300ms ease-in-out;
}
@media (min-width: 64rem) {
  .toggle {
    display: none;
  }
}

.toggle.active {
  background: #0563bb;
}
.toggle.active i {
  color: white;
}

.toggle-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 320px;
  z-index: 999;
  animation: navMoveOut 330ms forwards;
  background: #eee;
}
@media (min-width: 64rem) {
  .toggle-nav {
    background: none;
  }
}
.toggle-nav .navbar__ul {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  margin: 0;
  width: 100%;
  border-right: 1px solid #eee;
}
.toggle-nav .navbar__li {
  width: 100%;
  height: 56px;
  color: #728394;
  padding: 10px 18px;
  font-size: 15px;
  background: #eee;
  display: flex;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  transition: all 350ms ease-in-out;
}
.toggle-nav .navbar__li:not(:last-child) {
  margin-bottom: 8px;
}
.toggle-nav .navbar__li i {
  font-size: 20px;
  margin-right: 10px;
}
.toggle-nav .navbar__li-item {
  display: inline-block;
}
.toggle-nav .navbar__li.active, .toggle-nav .navbar__li:hover {
  color: #fff;
  background: #0563bb;
}
.toggle-nav .navbar__li.active-item, .toggle-nav .navbar__li:hover-item {
  color: #fff;
}
.toggle-nav.active {
  animation: navMoveIn 330ms forwards;
}
@media (min-width: 64rem) {
  .toggle-nav.active {
    left: 0;
    opacity: 1;
  }
}
@media (min-width: 64rem) {
  .toggle-nav {
    width: auto;
    animation: navMoveIn 330ms forwards;
  }
  .toggle-nav .navbar__ul {
    border-right: 0;
  }
  .toggle-nav .navbar__li {
    width: 56px;
  }
  .toggle-nav .navbar__li-item {
    display: none;
    color: #fff;
  }
  .toggle-nav .navbar__li:hover {
    width: 120px;
  }
  .toggle-nav .navbar__li:hover .navbar__li-item {
    display: inline-block;
  }
}

.clickToTop {
  position: fixed;
  bottom: 20px;
  right: -40px;
  padding: 0;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  color: #148af9;
  font-size: 36px;
  line-height: 1;
  border-radius: 50%;
}
.clickToTop.active {
  right: 20px;
}
.clickToTop:hover {
  color: #e80368;
}
.clickToTop::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  color: #148af9;
  font-size: 36px;
  border: 2px solid #148af9;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: all 300ms ease;
  color: #e80368;
}
.clickToTop:active::after {
  transform: scale(1.5);
  animation: scaleOut 300ms forwards;
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  position: relative;
  box-shadow: inset 0 0 0 2000px rgba(128, 104, 104, 0.3);
}
.hero__wrapper {
  color: #fff;
  font-size: 36px;
}
.hero__wrapper h1 {
  font-size: 64px;
  font-weight: 900;
}
.hero__wrapper h1 > span {
  text-transform: uppercase;
}
.hero__wrapper p > span {
  color: #0563bb;
  font-weight: 700;
}

.title-section {
  text-align: center;
  color: #45505b;
  padding-bottom: 30px;
  font-weight: 500;
}
.title-section h2 {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px 20px 10px;
  margin: 0 0 20px 0;
}
.title-section h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.title-section h2::after {
  content: "";
  position: absolute;
  width: 40%;
  height: 100%;
  top: 1px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 3px solid #067ded;
}

.about {
  padding: 60px 0;
}
.about__content {
  color: #45505b;
  font-weight: 500;
}
.about__top {
  width: 100%;
}
.about__avatar {
  width: 100%;
  padding-top: 100%;
  background-image: url(../img/avatar.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about__information {
  padding: 24px 12px 0;
}
.about__information h3 {
  color: #728394;
  font-weight: 800;
}
.about__information p {
  font-size: 16px;
  margin-bottom: 16px;
}
.about__details {
  list-style: none;
}
.about__details li {
  display: block;
  margin-bottom: 20px;
}
.about__details li i {
  margin-right: 5px;
  color: #148af9;
}
.about__details span {
  color: #272829;
  font-weight: 600;
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
