.about {
	padding: 60px 0;

	&__content {
	}

	&__avatar {
		max-height: 600px;
		max-width: 600px;
		background-image: url(../img/avatar.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__information {
	}

	&__details {
		&-col1 {
		}

		&-col2 {
		}
	}

	> p {
	}
}
