.about {
	padding: 60px 0;

	&__content {
		color: $light-Grey;
	}

	&__avatar {
		max-height: 60%;
		padding-top: 100%;
		// border-radius: 50%;
		background-image: url(../img/avatar.jpg);
		background-position: center center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&__information {
		padding: 24px 12px 0;

		h3 {
			color: $light-Grey;
			font-weight: 800;
		}
		p {
			font-size: $font-4;
			margin-bottom: 16px;
		}
	}

	&__details {
		span {
			color: $light-Black;
			font-weight: 900;
		}
		&-col1 {
		}

		&-col2 {
		}
	}

	> p {
	}
}
