.form {
	display: flex;
	flex-direction: column;

	&__top {
		@include breakpoint-up(medium) {
			display: flex;
			justify-content: space-between;
			align-items: center;

			&-col {
				width: 100%;
				&:not(:last-child) {
					margin-right: 10px;
				}
			}
		}
	}

	&__wrapper {
		position: relative;

		span {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			background: orange;
		}
	}

	&__input {
		display: block;
		width: 100%;
		padding: 6px 12px;
		line-height: 2;
		font-size: $font-2;
		color: $dark-Grey;
		border: 1px solid $light-Grey;
		border-radius: 3px;
		outline: none;

		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&:focus {
			border-color: $lightDark-Blue;
		}
	}

	&__top {
	}
}
