.form {
	display: flex;
	flex-direction: column;

	&__input {
		display: block;
		width: 100%;
		padding: 6px 12px;
		line-height: 1.5;
		font-size: $font-1;
		color: $light-Grey;
		border: 1px solid $light-Grey;
		border-radius: 3px;
		// outline: 1px solid $lightDark-Blue;
		outline: none;

		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: 20px;
		}

		&:focus {
			border-color: $dark-Blue;
		}
	}

	&__top {
	}
}
