.form {
	display: flex;
	flex-direction: column;

	&__input {
		display: block;
		width: 100%;
		padding-left: 10px;
		line-height: 1.5;

		text-transform: capitalize;
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__top {
	}
}
