.projects {
	margin: 60px auto;
	background: #eee;

	margin-bottom: 100vh;

	&__wrapper {
		width: 100%;
		background: #eee;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__item {
		width: 80%;
		height: auto;

		img {
			width: 100%;
			height: 60vh;
			object-fit: cover;
		}

		h5,
		p {
			color: $dark-Blue;
		}
	}

	&__button {
		span {
			color: $dark-Pink;
			background: $dark-Pink;
		}
	}
}
