.projects {
	padding: 60px auto;
	background: #eee;

	&__body {
		padding: auto;
		width: 80%;
		margin: auto;
	}

	&__items {
		img {
			height: 500px;
			width: 100%;
			object-fit: cover;
			object-position: center center;
		}
	}
}
