.projects {
	padding: 60px auto;

	&__body {
	}

	&__items {
		img {
			height: 500px;
			width: 100%;
			object-fit: contain;
			object-position: center center;
		}

		a {
			color: red;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 22px;
		}
	}
}
